.offer-control {
  background-color: #ffffff;
  border-radius: 2px;
  margin: 0;
  align-items: baseline;

  .offer-save {
    text-align: right;
  }
}
.consignment-head {
  display: flex;
  flex-direction: row;

  .route {
    align-self: center;
    padding-left: 1rem;
  }
}
.leg {
  font-size: 0.8rem;

  &:first-of-type {
    padding-right: 0.5rem;
  }
  &:last-of-type {
    padding-left: 0.5rem;
  }
}
