.card {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

.card-block {
  overflow: auto;
  max-height: 100%;
}

.no-consignments {
  text-align: center;
  padding: 2rem 0;
  font-size: 0.8rem;
  a {
    margin-top: 1rem;
  }
}

h3{
  background-color: #f2f2f2;
  margin: 0.5rem 0 0 0;
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.consignments {
  display: flex;
  flex-direction: column;

  .consignment {
    display: flex;
    flex-direction: row;
    margin: 0.2rem;

    .up, .down {
      width: auto;
      display: flex;
      align-items: center;
      border-right: 2px solid #999999;
    }

    .items {
      width: 100%;

      .item {
        flex-grow: 1;
      }
    }

    .no-item {
      font-style: italic;
      padding: 1rem 2rem;
    }
  }
}