<ng-container *transloco="let t">
  <nav class="subnav" [clr-nav-level]="2">
    <ul class="nav">
      <li class="nav-item"><a [routerLink]="['/company/partners']" class="nav-link">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
        {{ t('company.menu.parters') }}</a></li>
      <li class="nav-item"><a [routerLink]="['./details']" class="nav-link" routerLinkActive="active">
        <fa-icon [icon]="faTable"></fa-icon>
        {{ t('company.menu.details') }}</a></li>
      <li class="nav-item" *ngIf="companyName"><a [routerLink]="['./premises']" class="nav-link"
                                                  routerLinkActive="active">
        <fa-icon [icon]="faWarehouse"></fa-icon>
        {{ t('company.menu.premise') }}</a></li>
      <li class="nav-item" *ngIf="companyName"><a [routerLink]="['./employees']" class="nav-link"
                                                  routerLinkActive="active">
        <fa-icon [icon]="faUserTie"></fa-icon>
        {{ t('company.menu.employees') }}</a></li>
      <li class="nav-item" *ngIf="companyName"><a [routerLink]="['./vehicles']" class="nav-link"
                                                  routerLinkActive="active">
        <fa-icon [icon]="faTruckMoving"></fa-icon>
        {{ t('company.menu.vehicles') }}</a></li>
      <li class="nav-item" *ngIf="companyName"><a [routerLink]="['./documents']" class="nav-link"
                                                  routerLinkActive="active">
        <fa-icon [icon]="faFile"></fa-icon>
        {{ t('header.documents') }}</a></li>
    </ul>
    <ul class="nav right">
      <li class="nav-item" *ngIf="!notFound">{{ t('header.clients') }} > <span
        [ngClass]="{'inactive-company':inactive}">
        {{companyName ? companyName : t('general.new')}}</span></li>
    </ul>
  </nav>
  <div class="content-area">
    <ng-container *ngIf="!notFound">
      <router-outlet></router-outlet>
    </ng-container>
    <ng-container *ngIf="notFound">
      <app-not-found [type]="NotFoundResourceTypes.COMPANY" [redirectUrl]="'/company'"></app-not-found>
    </ng-container>

  </div>
</ng-container>
