<ng-container *transloco="let t">

  <div class="bg">
    <div class="clr-row container">

      <div class="clr-col"></div>

      <div class="clr-col-sm-8 clr-col-md-6 clr-col-lg-4 box">
        <h1>{{ t('account.forgottenPassword') }}</h1>
        <span>{{ t('account.resetHelpText') }}</span>
        <div class="clr-row">
          <div class="clr-col-2"></div>
          <div class="clr-col-8 code-input">
            <clr-input-container class="input">
              <label>{{ t('account.email') }}</label>
              <input clrInput [placeholder]="''"
                     name="input"
                     [(ngModel)]="email"
                     [disabled]="activated"
                     type="email" />
            </clr-input-container>
          </div>
          <div class="clr-col-2"></div>

          <div class="clr-col-12 text-center">
            <button type="button"
                    class="btn btn-primary"
                    (click)="resetPassword()"
                    [disabled]="activated || !email">
              {{ t('account.setPassword') }}
            </button>
          </div>
        </div>
        <div class="clr-row activated" *ngIf="activated">
          {{ t('account.followInstructions') }}
          <a href="/login">{{t('account.backToLogin')}}</a>
        </div>
      </div>

      <div class="clr-col"></div>

    </div>
  </div>

</ng-container>
