<ng-container *transloco="let t">

  <div class="time-gate">
    <div class="from-label clr-control-label">{{ t('consignment.openFrom') }}:</div>
    <div class="from-date">{{timeGate.earliestArrival | date :'short' :'' : t('locale')}}</div>
    <div class="to-label clr-control-label">{{ t('consignment.openTo') }}:</div>
    <div class="to-date">{{timeGate.latestArrival | date: 'short': '': t('locale')}}</div>
    <div class="opening">
      <clr-signpost>
        <button type="button" class="btn btn-outline-primary btn-sm"
                clrSignpostTrigger>{{ t('consignment.openingHours') }}</button>
          <clr-signpost-content [clrPosition]="'bottom-middle'">
          <div class="type-option custom">
            <div class="day" *ngFor="let day of timeGate.openingDays | defaultOrderKeyValue">
              <span>{{ t('daysofweek.' + $any(day.key))}}:</span> <span
              class="interval">{{ $any(day.value)["openFrom"] }}
              - {{$any(day.value)["openTo"]}}</span>
            </div>
          </div>
        </clr-signpost-content>
      </clr-signpost>
    </div>
  </div>

</ng-container>
