.minus-btn-cell {
    display: flex;
    align-items: center;
}
.countryPairs {
    clr-select-container {
        margin-top: 11px;
    }
}

.clr-justify-content-center .btn-icon {
    margin-top: 10px;
}

.table td {
    word-break: break-word;
}