<ng-container *transloco="let t">

  <clr-datagrid
    (clrDgRefresh)="refresh($event)"
    [clrDgLoading]="isLoading"
    cdkDropList (cdkDropListDropped)="onTableHeaderColumnDrop($event)"
    cdkDropListOrientation="horizontal"
    [cdkDropListData]="userColOrder"
    class="no-detailed-row">
    <clr-dg-placeholder>{{ t('general.noData') }}</clr-dg-placeholder>

    <ng-container *ngFor="let col of userColOrder; let index=index">
      <clr-dg-column cdkDrag [cdkDragData]="index"
        *ngIf="col.filterType === DataGridFilterType.NOFILTER"
                      [clrDgSortBy]="col.field">
        <div cdkDragHandle>
          <ng-template [clrDgHideableColumn]="{hidden: col.hidden}"
                        (clrDgHiddenChange)="addPendingColumnSetting($event, col.field)">
            {{ t(col.label) }}
          </ng-template>
        </div>
      </clr-dg-column>

      <clr-dg-column cdkDrag [cdkDragData]="index" [clrDgField]="col.field" *ngIf="col.filterType !== DataGridFilterType.NOFILTER">
        <div cdkDragHandle>
          <ng-template [clrDgHideableColumn]="{hidden: col.hidden}"
                        (clrDgHiddenChange)="addPendingColumnSetting($event, col.field)">
            {{ t(col.label) }}
          </ng-template>
        </div>

        <clr-dg-numeric-filter *ngIf="col.filterType === DataGridFilterType.NUMERIC"
                                [clrDgNumericFilter]="col.filter"></clr-dg-numeric-filter>

        <clr-dg-filter *ngIf="col.filterType === DataGridFilterType.DATE">
          <table-date-range-filter [property]="col.field"></table-date-range-filter>
        </clr-dg-filter>

        <clr-dg-filter *ngIf="col.filterType === DataGridFilterType.PICKER">
          <table-select-one-filter [options]="col.filterOptions" [property]="col.field"></table-select-one-filter>
        </clr-dg-filter>
      </clr-dg-column>
    </ng-container>

    <clr-dg-row *ngFor="let status of faultyLineStations" [clrDgItem]="status">
      <clr-dg-action-overflow>
        <a title="{{ t('lines.menu.stations') }}" [routerLink]="'/line-management/line/'+status.lineId+'/stations'">
          <fa-icon [icon]="faRoute" size="lg"></fa-icon>
        </a>
      </clr-dg-action-overflow>
      <ng-container *ngFor="let col of userColOrder">
        <ng-container [ngSwitch]="col.field">
          <clr-dg-cell *ngSwitchCase="LinesNotificationTableHeaderFields.CONVEYOR">{{ status.conveyor }}</clr-dg-cell>
          <clr-dg-cell *ngSwitchCase="LinesNotificationTableHeaderFields.COUNTRY_PAIR">{{ status.countryCodeFrom }} - {{ status.countryCodeTo }}</clr-dg-cell>
          <clr-dg-cell *ngSwitchCase="LinesNotificationTableHeaderFields.LINE_ID">{{ status.lineId }}</clr-dg-cell>
          <clr-dg-cell *ngSwitchCase="LinesNotificationTableHeaderFields.UP_STATUS">{{ status.upStatus }}</clr-dg-cell>
          <clr-dg-cell *ngSwitchCase="LinesNotificationTableHeaderFields.DOWN_STATUS">{{ status.downStatus }}</clr-dg-cell>
        </ng-container>
      </ng-container>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="PAGE_SIZE" [clrDgTotalItems]="faultyLineStations.length">
        <clr-dg-page-size [clrPageSizeOptions]="SIZE_OPTIONS">{{ t('table.perPage') }}</clr-dg-page-size>
        {{ pagination.firstItem + 1 }}
        - {{ pagination.lastItem + 1 }} {{ t('table.of') }} {{ faultyLineStations.length }} {{ t('table.from') }}
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</ng-container>