<ng-container *transloco="let t">
  <div class="contact-container">
    <div class="selector" [formGroup]="parentForm">

      <label [ngClass]="{'required': parentForm.get(controlName).errors?.required}"
      class="clr-control-label" for="employee" >{{label}}</label>

      <ng-select [items]="employees"
                 [searchFn]="employeeSearchFn"
                 bindLabel="id"
                 bindValue="id"
                 dropdownPosition="auto"
                 appendTo="body"
                 (change)="selectEmployee($event)"
                 [virtualScroll]="true"
                 [formControlName]="controlName"
                 labelForId="employee">
        <ng-template ng-label-tmp let-item="item">
          {{ item | employeeName:true }}
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <div><span [ngOptionHighlight]="search">
            {{ item | employeeName: true }}
          </span></div>
        </ng-template>
      </ng-select>

    </div>
    <div class="info">
      <app-contact-info [phone]="selectedEmployee?.phone"
                        [fax]="selectedEmployee?.fax"
                        [mobile]="selectedEmployee?.mobile"
                        [email]="selectedEmployee?.email"></app-contact-info>
    </div>

  </div>
</ng-container>
