<ng-container *transloco="let t">
    <nav class="subnav" [clr-nav-level]="2">
        <ul class="nav">
            <li class="nav-item"><a [routerLink]="['./']" class="nav-link" routerLinkActive="active"><fa-icon [icon]="faBoxOpen"></fa-icon> {{ t('consignment.menu.parcel') }}</a></li>
        </ul>

        <ul class="nav right">
            <li class="nav-item"><a [routerLink]="['./parcel/new']" class="nav-link"><fa-icon [icon]="faPlus"></fa-icon> {{ t('general.addItem', { item: t('consignment.label') }) }}</a></li>
        </ul>
    </nav>
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
</ng-container>
