<ng-container *transloco="let t">
  <div class="container" *ngFor="let consignment of consignments">
    <!-- <div class="mode">{{ t('consignment.type.' + consignment.transportMode) }}</div> -->
    <!-- <div class="parity">{{ consignment.parity }}</div> -->
    <div class="weight">{{ consignment.sumWeight }} kg</div>
    <div class="volume">{{ consignment.sumCbm }} m<sup>3</sup></div>
    <div class="customs" *ngIf="consignment.sumCustoms">{{ t('consignment.lot.customs') }}</div>
    <div class="adr">
      <app-adr-sign *ngIf="consignment.sumAdr"></app-adr-sign>
    </div>
  </div>
</ng-container>
